@import "tailwindcss";

@layer base {

  * {
    @apply transition-colors duration-100 ease-in-out;
  }

}

@theme inline {
  --font-jetbrains: 'JetBrains Mono', monospace;
  --text-xxs: 0.625rem;

  --color-red-dark: var(--red-dark);
  --color-red: var(--red);

  --color-green-dark: var(--green-dark);
  --color-green: var(--green);

  --color-yellow-dark: var(--yellow-dark);
  --color-yellow: var(--yellow);

  --color-blue-dark: var(--blue-dark);
  --color-blue: var(--blue);

  --color-purple-dark: var(--purple-dark);
  --color-purple: var(--purple);

  --color-aqua-dark: var(--aqua-dark);
  --color-aqua: var(--aqua);

  --color-orange-dark: var(--orange-dark);
  --color-orange: var(--orange);

  --color-gray-dark: var(--gray-dark);
  --color-gray: var(--gray);

  --color-bg-dim: var(--bg-dim);
  --color-bg0: var(--bg0);
  --color-bg1: var(--bg1);
  --color-bg2: var(--bg2);
  --color-bg3: var(--bg3);
  --color-bg4: var(--bg4);

  --color-fg0: var(--fg0);
  --color-fg1: var(--fg1);
  --color-fg2: var(--fg2);
  --color-fg3: var(--fg3);
  --color-fg4: var(--fg4);
}

.theme-gruvbox {

  --red-dark: #cc241d;
  --red: #fb4934;

  --green-dark: #98971a;
  --green: #b8bb26;

  --yellow-dark: #d79921;
  --yellow: #fabd2f;

  --blue-dark: #458588;
  --blue: #83a598;

  --purple-dark: #b16286;
  --purple: #d3869b;

  --aqua-dark: #689d6a;
  --aqua: #8ec07c;

  --orange-dark: #d65d0e;
  --orange: #fe8019;

  --gray-dark: #a89984;
  --gray: #ebdbb2;

  --bg-dim: #1d2021;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;
}

.theme-ratonazul {
  --red-dark: #b93737;
  --red: #e55b4c;

  --green-dark: #829f38;
  --green: #A4C745;

  --yellow-dark: #daaf4f;
  --yellow: #F9D560;

  --blue-dark: #379cb7;
  --blue: #50c5e5;

  --purple-dark: #9e72bb;
  --purple: #d199ea;

  --aqua-dark: #61b66f;
  --aqua: #7edb9b;

  --orange-dark: #d36b4b;
  --orange: #EA844E;

  --gray-dark: #6c6c98;
  --gray: #8e8ec2;

  --bg-dim: #1d2021;
  --bg0: #1b1828;
  --bg1: #25233b;
  --bg2: #2c2b49;
  --bg3: #373a5b;

  --fg0: #e1e3ff;
}

.theme-everforest {

  --red-dark: #f85552;
  --red: #e67e80;

  --green-dark: #8da101;
  --green: #a7c080;

  --yellow-dark: #dfa000;
  --yellow: #dbbc7f;

  --blue-dark: #3a94c5;
  --blue: #7fbbb3;

  --purple-dark: #df69ba;
  --purple: #d699b6;

  --aqua-dark: #35a77c;
  --aqua: #83c092;

  --orange-dark: #F57D26;
  --orange: #E69875;

  --gray-dark: #d3c6aa;
  --gray: #dfddc8;

  --bg-dim: #1e2326;
  --bg0: #272e33;
  --bg1: #2e383c;
  --bg2: #374145;
  --bg3: #414b50;
  --bg4: #495156;

  --fg0: #d3c6aa;

}

.theme-ayu-mirage {

  --red-dark: #ff616e;
  --red: #f07178;

  --green-dark: #87d96c;
  --green: #a2f080;

  --yellow-dark: #ffb454;
  --yellow: #ffd173;

  --blue-dark: #59c2ff;
  --blue: #73d0ff;

  --purple-dark: #c792ea;
  --purple: #d4a4f4;

  --aqua-dark: #5ccfe6;
  --aqua: #73d8ec;

  --orange-dark: #ff8f40;
  --orange: #ffad66;

  --gray-dark: #b8c1d1;
  --gray: #d2d8e4;

  --bg-dim: #131721;
  --bg0: #1f2430;
  --bg1: #242936;
  --bg2: #2a2f3a;
  --bg3: #323844;
  --bg4: #3a4152;

  --fg0: #e6e9ef;
  --fg1: #d5d8df;
  --fg2: #b8c1d1;
  --fg3: #9da5b4;
  --fg4: #7e8a9e;

}


@font-face {
  font-family: "JetBrains Mono";
  font-style: auto;
  font-weight: auto;

  src: url("/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}